.App {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%)
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.icon{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 45%;
}
